<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <%- include ./partials/navbar.ejs %>

    <h1>Balance Page</h1>
    <h3><%=dataUser.dataValues.balance%></h3>
    <form action="#" method="POST">
        <label for="balance">input balance</label>
        <input type="number" name="balance">
        <input type="submit">
    </form>
    
</body>
</html>